/*
			Inspiration for this stylesheet comes from Normalize.css, Josh Comeau,
			Barebones, Basic.css, Pico, Typeplate, Simple.css, and more
		*/

@layer reset, typography, default;



@layer default {
	:root {
		--accent-00: oklch(1 0.030170139248992922 90.24115342246611);
		--accent-01: oklch(0.9536456092315344 0.030170139248992922 90.24115342246611);
		--accent-02: oklch(0.8924089806120152 0.08826670827983002 90.24115342246611);
		--accent-03: oklch(0.844618 0.14828222329121668 90.24115342246611);
		--accent-04: oklch(0.7854571400878614 0.18029922017024758 90.24115342246611);
		--accent-05: oklch(0.7110252520511524 0.16670758498691426 90.24115342246611);
		--accent-06: oklch(0.6307554338482158 0.15012908092125463 90.24115342246611);
		--accent-07: oklch(0.5558748958282139 0.12696710517027307 90.24115342246611);
		--accent-08: oklch(0.4945 0.09203251189041753 90.24115342246611);
		--accent-09: oklch(0.38727951482578865 0.05695363236371703 90.24115342246611);
		--accent-10: oklch(0.24916012628129958 0.03201699687903088 90.24115342246611);
		--accent-11: oklch(0.11046170738630641 0.01528852137867617 90.24115342246611);
		--danger-00: oklch(1 0.037138530373020395 -25.754653176550182);
		--danger-01: oklch(0.9536456092315344 0.037138530373020395 -25.754653176550182);
		--danger-02: oklch(0.8924089806120152 0.0908858065656466 -25.754653176550182);
		--danger-03: oklch(0.844618 0.15656415898125758 -25.754653176550182);
		--danger-04: oklch(0.7854571400878614 0.2115084537674326 -25.754653176550182);
		--danger-05: oklch(0.7110252520511524 0.250891532499265 -25.754653176550182);
		--danger-06: oklch(0.6307554338482158 0.22556107485827934 -25.754653176550182);
		--danger-07: oklch(0.5558748958282139 0.1952478556703251 -25.754653176550182);
		--danger-08: oklch(0.4945 0.15069063355165543 -25.754653176550182);
		--danger-09: oklch(0.38727951482578865 0.1036689817070561 -25.754653176550182);
		--danger-10: oklch(0.24916012628129958 0.058004850702477094 -25.754653176550182);
		--danger-11: oklch(0.11046170738630641 0.02748297973358925 -25.754653176550182);
		--info-00: oklch(1 0.032559707682643824 244.1900622367698);
		--info-01: oklch(0.9536456092315344 0.032559707682643824 244.1900622367698);
		--info-02: oklch(0.8924089806120152 0.07422782322853594 244.1900622367698);
		--info-03: oklch(0.844618 0.12605888808084453 244.1900622367698);
		--info-04: oklch(0.7854571400878614 0.17799411987422387 244.1900622367698);
		--info-05: oklch(0.7110252520511524 0.22040488113200302 244.1900622367698);
		--info-06: oklch(0.6307554338482158 0.25495777982975243 244.1900622367698);
		--info-07: oklch(0.5558748958282139 0.2223980721471087 244.1900622367698);
		--info-08: oklch(0.4945 0.18072995660121655 244.1900622367698);
		--info-09: oklch(0.38727951482578865 0.12889889174890792 244.1900622367698);
		--info-10: oklch(0.24916012628129958 0.0769636599555286 244.1900622367698);
		--info-11: oklch(0.11046170738630641 0.034552898697749426 244.1900622367698);
		--primary-00: oklch(1 0.033943473040194294 -82.72000000000003);
		--primary-01: oklch(0.9536456092315344 0.033943473040194294 -82.72000000000003);
		--primary-02: oklch(0.8924089806120152 0.07208713732898053 -82.72000000000003);
		--primary-03: oklch(0.844618 0.10967407324412015 -82.72000000000003);
		--primary-04: oklch(0.7854571400878614 0.14835354282702512 -82.72000000000003);
		--primary-05: oklch(0.7110252520511524 0.1870407118569507 -82.72000000000003);
		--primary-06: oklch(0.6307554338482158 0.2246513001779757 -82.72000000000003);
		--primary-07: oklch(0.5558748958282139 0.2627985040398166 -82.72000000000003);
		--primary-08: oklch(0.4945 0.297278 -82.72000000000003);
		--primary-09: oklch(0.38727951482578865 0.22519086267101945 -82.72000000000003);
		--primary-10: oklch(0.24916012628129958 0.1489244571729748 -82.72000000000003);
		--primary-11: oklch(0.11046170738630641 0.07262669982202441 -82.72000000000003);
		--secondary-00: oklch(1 0.03523506763462919 174.9674);
		--secondary-01: oklch(0.9536456092315344 0.03523506763462919 174.9674);
		--secondary-02: oklch(0.8924089806120152 0.12226651611616707 174.9674);
		--secondary-03: oklch(0.844618 0.159299 174.9674);
		--secondary-04: oklch(0.7854571400878614 0.14932563102137283 174.9674);
		--secondary-05: oklch(0.7110252520511524 0.13708788342722794 174.9674);
		--secondary-06: oklch(0.6307554338482158 0.12406393236537076 174.9674);
		--secondary-07: oklch(0.5558748958282139 0.09651562296811833 174.9674);
		--secondary-08: oklch(0.4945 0.06639390943163861 174.9674);
		--secondary-09: oklch(0.38727951482578865 0.037032483883832935 174.9674);
		--secondary-10: oklch(0.24916012628129958 0.02375390884349093 174.9674);
		--secondary-11: oklch(0.11046170738630641 0.011400212679566413 174.9674);
		--success-00: oklch(1 0.024257111887574123 148.30000439636984);
		--success-01: oklch(0.9536456092315344 0.024257111887574123 148.30000439636984);
		--success-02: oklch(0.8924089806120152 0.07351482341637697 148.30000439636984);
		--success-03: oklch(0.844618 0.12466168066207778 148.30000439636984);
		--success-04: oklch(0.7854571400878614 0.15042101659568144 148.30000439636984);
		--success-05: oklch(0.7110252520511524 0.13948969668297212 148.30000439636984);
		--success-06: oklch(0.6307554338482158 0.1261639047081073 148.30000439636984);
		--success-07: oklch(0.5558748958282139 0.10791110186311959 148.30000439636984);
		--success-08: oklch(0.4945 0.07690619317930446 148.30000439636984);
		--success-09: oklch(0.38727951482578865 0.0457513376060701 148.30000439636984);
		--success-10: oklch(0.24916012628129958 0.02575933593360364 148.30000439636984);
		--success-11: oklch(0.11046170738630641 0.012313506052849059 148.30000439636984);
		--tertiary-00: oklch(1 0.034046389815560296 2.791302501092794);
		--tertiary-01: oklch(0.9536456092315344 0.034046389815560296 2.791302501092794);
		--tertiary-02: oklch(0.8924089806120152 0.08421751016426371 2.791302501092794);
		--tertiary-03: oklch(0.844618 0.14726059081820986 2.791302501092794);
		--tertiary-04: oklch(0.7854571400878614 0.19873235540856865 2.791302501092794);
		--tertiary-05: oklch(0.7110252520511524 0.23494450943888123 2.791302501092794);
		--tertiary-06: oklch(0.6307554338482158 0.21174506900632417 2.791302501092794);
		--tertiary-07: oklch(0.5558748958282139 0.1839025285604721 2.791302501092794);
		--tertiary-08: oklch(0.4945 0.14178977136603388 2.791302501092794);
		--tertiary-09: oklch(0.38727951482578865 0.09664947566806639 2.791302501092794);
		--tertiary-10: oklch(0.24916012628129958 0.053320044751899345 2.791302501092794);
		--tertiary-11: oklch(0.11046170738630641 0.025277009084351466 2.791302501092794);
		--warning-00: oklch(1 0.033978843637678835 61.19378984733035);
		--warning-01: oklch(0.9536456092315344 0.033978843637678835 61.19378984733035);
		--warning-02: oklch(0.8924089806120152 0.09727044978770355 61.19378984733035);
		--warning-03: oklch(0.844618 0.16243636817381144 61.19378984733035);
		--warning-04: oklch(0.7854571400878614 0.19844507360799077 61.19378984733035);
		--warning-05: oklch(0.7110252520511524 0.18312495283983363 61.19378984733035);
		--warning-06: oklch(0.6307554338482158 0.164466229970312 61.19378984733035);
		--warning-07: oklch(0.5558748958282139 0.1383102018356785 61.19378984733035);
		--warning-08: oklch(0.4945 0.10117462382028729 61.19378984733035);
		--warning-09: oklch(0.38727951482578865 0.06390117110643204 61.19378984733035);
		--warning-10: oklch(0.24916012628129958 0.03600870543417937 61.19378984733035);
		--warning-11: oklch(0.11046170738630641 0.017183679327988338 61.19378984733035);


		/* main */
		--primary-text-color: light-dark(var(--primary-11), var(--primary-01));
		--primary-heading-color: light-dark(var(--primary-10), var(--primary-02));
		--primary-link-color: light-dark(var(--secondary-07), var(--secondary-03));
		--primary-link-hover-color: light-dark(var(--secondary-06), var(--secondary-04));
		--primary-border-color: light-dark(var(--primary-03), var(--primary-09));

		/* secondary */
		--secondary-text-color: light-dark(var(--secondary-11), var(--secondary-01));
		--secondary-heading-color: light-dark(var(--secondary-09), var(--secondary-03));

		/* backgrounds */
		--main-background: light-dark(var(--primary-00), var(--primary-11));
		--code-background: light-dark(var(--primary-01), var(--primary-10));
		--soft-background: light-dark(var(--primary-01), var(--primary-10));

		/* alerts */
		--warning-background: light-dark(var(--warning-01), var(--warning-10));
		--warning-text: light-dark(var(--warning-10), var(--warning-01));
		--warning-border: light-dark(var(--warning-02), var(--warning-08));
		--warning-heading: light-dark(var(--warning-08), var(--warning-02));

		--danger-background: light-dark(var(--danger-01), var(--danger-10));
		--danger-text: light-dark(var(--danger-10), var(--danger-01));
		--danger-border: light-dark(var(--danger-02), var(--danger-08));
		--danger-heading: light-dark(var(--danger-08), var(--danger-02));

		--success-background: light-dark(var(--success-01), var(--success-10));
		--success-text: light-dark(var(--success-10), var(--success-01));
		--success-border: light-dark(var(--success-02), var(--success-08));
		--success-heading: light-dark(var(--success-08), var(--success-02));

		--note-background: light-dark(var(--note-01), var(--note-10));
		--note-text: light-dark(var(--note-10), var(--note-01));
		--node-border: light-dark(var(--node-02), var(--node-08));
		--note-heading: light-dark(var(--note-08), var(--note-02));
	}

	:root {
		color-scheme: light dark;
	}


	/* Layout */

	body {
		overflow-y: scroll;
		font-family: var(--font-sans);
		max-width: min(100ch, 100vi - 10vw);
		margin-inline: auto;
		margin-bottom: 5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem 1rem;

		main {
			width: 95vw;
			max-width: 80ch;
		}
	}

	main,
	article {
		margin-bottom: auto;
		padding-bottom: 4rem;
		display: grid;
		gap: 1rem;
		flex-wrap: wrap;
		align-items: baseline;
		column-gap: 0.5rem;
	}

	@media (width >=700px) {

		body:not(.home) main {
			grid-template-columns: 3fr 1fr;
		}
	}

	main>*:not(nav[aria-label=Contents]) {
		grid-column: 1;
	}

	:is(main, article)>* {
		flex-basis: 100%;
	}

	:is(main, article) :is(time, dl:not(.link)) {
		/* flex-basis: 0; */
		/* display: inline !important; */
		font-size: 0.9em;
		opacity: 0.8;
	}

	/* Colors */

	html {
		color: var(--primary-text-color);
		background: var(--main-background);
	}

	a:where(:not([rel=home])) {
		color: var(--primary-link-color);

		&:hover {
			color: var(--primary-link-hover-color);
		}
	}

	code,
	pre {
		background: var(--code-background);
	}

	blockquote {
		border-left: 5px solid var(--primary-border-color);
	}

	main>article {
		border: 1px solid var(--primary-border-color);
		padding: 2rem 2rem 2rem;
		border-radius: calc(1rem + 5px);
		display: flex;
		flex-direction: column;
	}

	main>ul._ {
		list-style: none;
		padding: 0;

		& article {
			padding-bottom: 1em;
		}
	}

	th,
	td {
		border-bottom: 1px solid var(--border-color-softer);
	}

	hr {
		border-top: 1px solid var(--primary-text-color);
	}

	/* Frontmatter */

	main>img {
		margin-bottom: 2.5rem;
	}

	nav[aria-label=Contents]:has(>ol:empty),
	nav[aria-label=Contents]:has(>ol>li:only-of-type>a) {
		display: none;
	}


	@media (width >=700px) {
		nav[aria-label=Contents] {
			grid-column: 2;
			grid-row-start: 3;
			height: 0px;
			overflow: visible;
		}
	}



	nav[aria-label=Contents] {
		min-width: max-content;
		flex-basis: 30%;
		max-width: 100%;

		&:before {
			content: "Contents";
			font-weight: 600;
			margin-bottom: 0.5em;
			display: block;
			width: max-content;
		}

		& ol {
			list-style: none;
			width: max-content;
			margin: 0;
			padding: 0;

			& ol {
				margin-left: 1em;
			}
		}
	}

	/* Header */

	header {
		margin-top: 4rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 1em;

		p.tagline {
			margin-left: auto;
			align-self: flex-end;
			margin-bottom: 0.5em;
			font-size: 1.5em;
		}

		a.logo {
			/* mask-image: var(--logo); */
			/* mask-image: unset; */
			background: var(--primary-10);

			img {
				visibility: hidden;
			}
		}

		nav {
			border: 1px solid var(--primary-border-color);
			padding: 0px 6px;
			width: 100%;

			&:first-of-type {
				padding-top: 7px;
			}

			&:last-of-type {
				padding-bottom: 7px;
			}

			margin-inline: -3px;
			border-radius: 5px;
			display: flex;
			column-gap: 2rem;
			flex-wrap: wrap;
			justify-content: flex-start;
			background: var(--soft-background);
		}

		nav:has(+ nav) {
			border-bottom: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			&:after {
				display: block;
				content: '';
				border-bottom: 1px solid var(--primary-border-color);
				flex-basis: 100%;
				margin-block: 0.7rem;
			}
		}

		nav+nav {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: none;
			margin-top: 0;
		}
	}

	nav[aria-label=Breadcrumbs]>a:only-child {
		display: none;
	}

	nav[aria-label=Breadcrumbs] {
		text-transform: uppercase;
		color: var(--primary-05);

		a {
			color: unset;
		}
	}

	/* Sidebar */

	aside nav {
		margin-inline: auto;

		&>ul {
			display: flex;
			flex-direction: row;
			gap: 2em;
			justify-content: center;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			margin: 0;
			line-height: 1.7em;
		}

		&>ul>li {
			&>a {
				font-weight: 500;
			}

			&>ul {
				font-size: 0.9em;
				line-height: 1.2em;

				ul {
					padding-left: 1em;
				}
			}
		}
	}

	/* Footer */

	footer {
		text-align: center;
	}

	/* Main */

	p:where([itemprop=description]),
	main>p:first-of-type {
		font-size: 1.3em;
		color: var(--secondary-text-color);
	}

	article a {
		display: flex;
		flex-direction: column;
		row-gap: 1em;

		&>* {
			margin: 0;
		}
	}

	article img {
		order: -1;
	}

	article a,
	article a:hover {
		color: unset;
	}

	article h1 {
		grid-area: title;
		font-size: 1.6rem;
	}

	article p {
		font-size: 1.6rem;
	}

	article dl.icon {
		grid-area: icon;
		font-size: 1.5em;
	}

	article dl.icon dd {
		text-align: right;
	}

	article .description {
		grid-area: description;
	}

	article dt {
		display: none;
	}

	article dl.icon {
		order: -1;
	}

	aside.alert.note {
		--icon: 'ℹ️';
		background: var(--info-background);
		color: var(--info-text);
		border-left: 3px solid var(--info-border);

		h2 {
			color: var(--info-heading);
		}
	}

	aside.alert.success {
		--icon: '💡';
		background: var(--success-background);
		color: var(--success-text);
		border-left: 3px solid var(--success-border);

		h2 {
			color: var(--success-heading);
		}
	}

	aside.alert.warning {
		--icon: '⚠️';
		background: var(--warning-background);
		color: var(--warning-text);
		border-left: 3px solid var(--warning-border);

		h2 {
			color: var(--warning-heading);
		}
	}


	aside.alert.danger {
		--icon: '⛔️';
		background: var(--danger-background);
		color: var(--danger-text);
		border-left: 3px solid var(--danger-border);

		h2 {
			color: var(--danger-border);
		}
	}

	aside.alert {
		padding: 1.5rem 2rem;
	}

	aside.alert h2:before {
		font-size: 0.8em;
		margin-right: 0.7rem;
		opacity: 0.9;
	}

	aside.alert h2:before {
		content: var(--icon);
	}
}

/* Elements */

img {
	border-radius: 5px;
}