/*
			Inspiration for this stylesheet comes from Normalize.css, Josh Comeau,
			Barebones, Basic.css, Pico, Typeplate, Simple.css, and more
		*/

@layer reset, typography, default;


@layer default {
	:root {
		--text-color: hsl(0, 0%, 13%);
		--accent-color: hsl(215, 100%, 35%);
		--accent-color-hover: hsl(215, 76%, 49%);
		--border-color: hsl(0, 0%, 73%);
		--main-background: hsl(0, 0%, 100%);
		--code-background: hsl(0, 0%, 95%);
		--soft-background: hsl(0, 0%, 95%);
		/* --soft-background: #00000005; */
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--text-color: hsl(0, 0%, 80%);
			--accent-color: hsl(194, 76%, 49%);
			--accent-color-hover: hsl(194, 86%, 57%);
			--border-color: hsl(0, 0%, 27%);
			--main-background: hsl(0, 0%, 12%);
			--code-background: hsl(0, 0%, 5%);
			--soft-background: hsl(0, 0%, 14%);
			/* --soft-background: #ffffff07; */
		}
	}

	/* Layout */

	body {
		overflow-y: scroll;
		font-family: var(--font-sans);
		max-width: min(100ch, 100vi - 10vw);
		margin-inline: auto;
		margin-bottom: 5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4rem 1rem;

		main {
			width: 95vw;
			max-width: 80ch;
		}
	}

	main,
	article {
		margin-bottom: auto;
		padding-bottom: 4rem;
		display: grid;
		gap: 1rem;
		flex-wrap: wrap;
		align-items: baseline;
		column-gap: 0.5rem;
	}

	@media (width >=700px) {

		body:not(.home) main {
			grid-template-columns: 3fr 1fr;
		}
	}

	main>*:not(nav[aria-label=Contents]) {
		grid-column: 1;
	}

	:is(main, article)>* {
		flex-basis: 100%;
	}

	:is(main, article) :is(time, dl:not(.link)) {
		/* flex-basis: 0; */
		/* display: inline !important; */
		font-size: 0.9em;
		opacity: 0.8;
	}

	/* Colors */

	html {
		color: var(--text-color);
		background: var(--main-background);
	}

	a:where(:not([rel=home])) {
		color: var(--accent-color);

		&:hover {
			color: var(--accent-color-hover);
		}
	}

	code,
	pre {
		background: var(--code-background);
	}

	blockquote {
		border-left: 5px solid var(--border-color);
	}

	article {
		border: 1px solid var(--border-color);
		background: var(--soft-background);
		padding: 2rem 2rem 2rem;
		border-radius: calc(1rem + 5px);
		display: flex;
		flex-direction: column;
	}

	th,
	td {
		border-bottom: 1px solid var(--border-color-softer);
	}

	hr {
		border-top: 1px solid var(--text-color);
	}

	/* Frontmatter */

	main>img {
		margin-bottom: 2.5rem;
	}

	nav[aria-label=Contents]:has(>ol:empty),
	nav[aria-label=Contents]:has(>ol>li:only-of-type>a) {
		display: none;
	}


	@media (width >=700px) {
		nav[aria-label=Contents] {
			grid-column: 2;
			grid-row-start: 3;
			height: 0px;
			overflow: visible;
		}
	}



	nav[aria-label=Contents] {
		min-width: max-content;
		flex-basis: 30%;
		max-width: 100%;

		&:before {
			content: "Contents";
			font-weight: 600;
			margin-bottom: 0.5em;
			display: block;
			width: max-content;
		}

		& ol {
			list-style: none;
			width: max-content;
			margin: 0;
			padding: 0;

			& ol {
				margin-left: 1em;
			}
		}
	}

	/* Header */

	header {
		margin-top: 4rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 1em;

		p.tagline {
			margin-left: auto;
			align-self: flex-end;
			margin-bottom: 0.5em;
			font-size: 1.5em;
		}

		nav {
			border: 1px solid var(--border-color);
			padding: 0px 6px;
			width: 100%;

			&:first-of-type {
				padding-top: 7px;
			}

			&:last-of-type {
				padding-bottom: 7px;
			}

			margin-inline: -3px;
			border-radius: 5px;
			display: flex;
			column-gap: 2rem;
			flex-wrap: wrap;
			justify-content: flex-start;
			background: var(--soft-background);
		}

		nav:has(+ nav) {
			border-bottom: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			&:after {
				display: block;
				content: '';
				border-bottom: 1px solid var(--border-color);
				flex-basis: 100%;
				margin-block: 0.7rem;
			}
		}

		nav+nav {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: none;
			margin-top: 0;
		}
	}

	nav[aria-label=Breadcrumbs]>a:only-child {
		display: none;
	}

	nav[aria-label=Breadcrumbs] {
		text-transform: uppercase;
		color: var(--border-color);

		a {
			color: unset;
		}
	}

	/* Sidebar */

	aside nav {
		margin-inline: auto;

		&>ul {
			display: flex;
			flex-direction: row;
			gap: 2em;
			justify-content: center;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			margin: 0;
			line-height: 1.7em;
		}

		&>ul>li {
			&>a {
				font-weight: 500;
			}

			&>ul {
				font-size: 0.9em;
				line-height: 1.2em;

				ul {
					padding-left: 1em;
				}
			}
		}
	}

	/* Footer */

	footer {
		text-align: center;
	}

	/* Main */

	p:where([itemprop=description]) {
		font-size: 1.3em;
	}

	article a {
		display: flex;
		flex-direction: column;
		row-gap: 1em;

		&>* {
			margin: 0;
		}
	}

	article img {
		order: -1;
	}

	article a,
	article a:hover {
		color: unset;
	}

	article h1 {
		grid-area: title;
		font-size: 1.6rem;
	}

	article p {
		font-size: 1.6rem;
	}

	article dl.icon {
		grid-area: icon;
		font-size: 1.5em;
	}

	article dl.icon dd {
		text-align: right;
	}

	article .description {
		grid-area: description;
	}

	article dt {
		display: none;
	}

	article dl.icon {
		order: -1;
	}

	aside.alert.note {
		--icon: 'ℹ️';
		--rgb: 71, 139, 230;
	}

	aside.alert.tip {
		--icon: '💡';
		--rgb: 87, 171, 90;
	}

	aside.alert.important {
		--icon: '💬';
		--rgb: 152, 110, 226;
	}

	aside.alert.warning {
		--icon: '⚠️';
		--rgb: 198, 144, 38;
	}

	aside.alert.caution {
		--icon: '⛔️';
		--rgb: 229, 83, 75;
	}

	aside.alert {
		border-left: 3px solid rgb(var(--rgb));
		padding: 1.5rem 2rem;
		background: rgba(var(--rgb), 0.04);
	}

	aside.alert h2 {
		color: rgb(var(--rgb));
	}

	aside.alert h2:before {
		font-size: 0.8em;
		margin-right: 0.7rem;
		opacity: 0.9;
	}

	aside.alert h2:before {
		content: var(--icon);
	}
}

/* Elements */

img {
	border-radius: 5px;
}