/*
			Inspiration for this stylesheet comes from Normalize.css, Josh Comeau,
			Barebones, Basic.css, Pico, Typeplate, Simple.css, and more
		*/

@layer reset, typography, default, dynamic-typography;

@layer default {
	:root {

		/* vertical space between main sections */
		--large-gap: 3em;

		/* vertical space within content */
		--small-gap: 2em;

		/* horizontal space between items */
		--gutter: 2em;

		/* main body maximum width */
		--width-body: 100ch;

		--separator-breadcrumb: "/";

		/* borders */
		--border-radius-tight: 5px;
		--border-radius-loose: calc(clamp(0.3rem, 1vw, 0.7rem) + 2px);

		/* body colors */
		--color-background-body: light-dark(var(--primary-10), var(--primary-01));
		--color-text-body: light-dark(var(--primary-01), var(--primary-10));
		--color-heading-body: light-dark(var(--primary-01), var(--primary-09));
		--color-link-body: light-dark(var(--secondary-05), var(--secondary-09));
		--color-link-hover-body: light-dark(var(--secondary-07), var(--secondary-10));
		--color-border-body: light-dark(var(--primary-07), var(--primary-04));
		--color-highlight-body: light-dark(var(--secondary-08), var(--secondary-03));

		/* menu colors */
		--color-background-menu: light-dark(var(--primary-09), var(--primary-02));
		--color-surface-menu: light-dark(var(--tertiary-09), var(--tertiary-02));
		--color-surface-border-menu: light-dark(var(--tertiary-09), var(--tertiary-01));
		--color-border-menu: light-dark(var(--primary-07), var(--primary-03));
		--color-link-menu: light-dark(var(--tertiary-04), var(--tertiary-09));
		--color-disabled-menu: light-dark(var(--secondary-04), var(--secondary-07));
		--color-link-hover-menu: light-dark(var(--tertiary-06), var(--tertiary-10));

		/* panel colors */
		--color-background-panel: light-dark(var(--primary-09), var(--primary-02));
		--color-background-hover-panel: light-dark(var(--primary-09), var(--primary-02));
		--color-border-panel: light-dark(var(--primary-08), var(--primary-02));
		--color-text-panel: light-dark(var(--primary-02), var(--primary-08));
		--color-text-hover-panel: light-dark(var(--primary-02), var(--primary-08));
		--color-border-hover-panel: light-dark(var(--accent-08), var(--accent-05));

		/* pre colors */
		--color-background-pre: light-dark(var(--tertiary-09), var(--tertiary-02));
		--color-border-pre: light-dark(var(--tertiary-08), var(--tertiary-01));
		--color-text-pre: light-dark(var(--tertiary-02), var(--tertiary-02));

		/* semantic colors */
		--color-text-warning: light-dark(var(--warning-01), var(--warning-10));
		--color-heading-warning: light-dark(var(--warning-02), var(--warning-09));
		--color-icon-warning: light-dark(var(--warning-04), var(--warning-07));
		--color-background-warning: light-dark(var(--warning-09), var(--warning-02));
		--color-border-warning: light-dark(var(--warning-07), var(--warning-04));

		--color-text-note: light-dark(var(--info-01), var(--info-10));
		--color-heading-note: light-dark(var(--info-02), var(--info-09));
		--color-icon-note: light-dark(var(--info-04), var(--info-07));
		--color-background-note: light-dark(var(--info-09), var(--info-02));
		--color-border-note: light-dark(var(--info-07), var(--info-04));

		--color-text-success: light-dark(var(--success-01), var(--success-10));
		--color-heading-success: light-dark(var(--success-02), var(--success-09));
		--color-icon-success: light-dark(var(--success-04), var(--success-07));
		--color-background-success: light-dark(var(--success-09), var(--success-02));
		--color-border-success: light-dark(var(--success-07), var(--success-04));

		--color-text-danger: light-dark(var(--danger-01), var(--danger-10));
		--color-heading-danger: light-dark(var(--danger-02), var(--danger-09));
		--color-icon-danger: light-dark(var(--danger-04), var(--danger-07));
		--color-background-danger: light-dark(var(--danger-09), var(--danger-02));
		--color-border-danger: light-dark(var(--danger-07), var(--danger-04));

		/* automatic dark mode */
		color-scheme: light dark;
	}

	/*
		COLORS
	*/

	html {
		background: var(--color-background-body);
		color: var(--color-text-body);
	}

	header {
		color: var(--color-heading-body);
		background: var(--color-background-menu);

		[rel=home] {
			color: var(--color-heading-body);
		}

		nav {
			[aria-current="page"] {
				color: var(--color-disabled-menu);
			}

			ul+ul {
				background: var(--color-surface-menu);
			}
		}
	}

	nav[aria-label=Breadcrumbs] a {

		&,
		&:visited {
			color: var(--color-link-body);
		}

		&:hover {
			color: var(--color-link-body-hover);
		}

		&:before {
			color: var(--color-border-menu);
		}
	}

	nav[aria-label=Contents]>ol {
		background: var(--color-surface-menu);
		border-color: var(--color-surface-border-menu);

		a {

			&,
			&:visited {

				color: var(--color-link-menu);
			}

			&:hover {
				color: var(--color-link-hover-menu);
			}
		}
	}

	/*
		LAYOUT
	*/

	@media (max-width: 800px) {

		body {
			display: flex;
			flex-direction: column;

			&>* {
				padding: 1lh 1ch;
			}

			&>header {
				display: flex;
				flex-direction: column;
				gap: 1lh;

				ul {
					padding: 0;
				}
			}
		}
	}

	@media (min-width: 800px) {
		body {
			display: grid;
			grid-template-columns: 1fr 20rch 60rch 20rch 1fr;


			&>header {
				grid-column-start: 1;
				grid-column-end: 6;

				display: grid;
				grid-template-columns: subgrid;
				align-items: baseline;
			}

			&>main {
				grid-column-start: 3;
				grid-column-end: 5;

				display: grid;
				grid-template-columns: subgrid;

				&>* {
					grid-column-start: 1;
					grid-column-end: 2;
				}

				&>nav[aria-label=Contents] {
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 2;
					height: 0px;

					position: sticky;
					top: 1lh;
				}
			}

			&>aside {
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 3;
			}

			&>footer {
				grid-column-start: 1;
				grid-column-end: 6;
				/* grid-row-start: 3; */
				/* grid-row-end: 4; */
			}

			/* spacing  */
			gap: 2lh;
			padding-bottom: 4lh;
		}
	}



	header {
		/* --stretch-width: min(100%, clamp(var(--width-shrink), 80vw, 120ch)); */
		/* --padding-inline: calc(calc(100vi - var(--stretch-width)) / 2); */


		padding-block: 1lh;

		[rel=home] {
			display: flex;
			align-items: baseline;
			gap: 1ch;
			flex-grow: 2;
			grid-column-start: 2;
			min-width: max-content;
		}

		[rel=home] img {
			height: 1.8em;
			transform: translateY(0.4em);
			width: auto;
		}

		nav {
			border-radius: var(--border-radius-tight);
			border: 1px solid var(--color-menu-border);

			&>:first-child~* {
				display: none;
			}

			grid-column-start: 4;
			grid-column-end: 5;

			ul {
				list-style: none;
				display: flex;
				gap: 2ch;
			}

		}
	}

	nav[aria-label=Breadcrumbs] a {
		text-transform: uppercase;

		&+a:before {
			content: var(--separator-breadcrumb);
			margin-inline: 1ch;
		}
	}

	/* TODO: Only render contents when necessary */
	nav[aria-label=Contents]:has(>ol:empty),
	nav[aria-label=Contents]:has(>ol>li:only-of-type>a) {
		display: none;
	}

	/* table of contents */

	nav[aria-label=Contents]>ol {
		border-width: 1px;
		border-style: solid;
		border-radius: var(--border-radius-tight);
		height: max-content;
		max-height: 80vh;

		list-style: none;
		padding: 1lh 2ch;

		/* sub-items */
		ol {
			padding-left: 2ch;
		}
	}


	/* sidebar */

	aside nav {
		margin-inline: auto;

		a {

			&,
			&:visited {

				color: var(--color-link-body);
			}

			&:hover {
				color: var(--color-link-hover-body);
			}
		}

		&>ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		ul {
			list-style: none;
			padding-left: 0;
		}

		li {
			margin: 0;
			line-height: 1.7em;
		}

		&>ul>li {
			&>a {
				font-weight: 500;
			}

			&>ul {
				font-size: 0.9em;
				line-height: 1.2em;

				ul {
					padding-left: 1em;
				}
			}
		}
	}

	/* main */

	main>p:where([itemprop=description]) {
		font-size: 1.3em;
	}


	main {

		max-width: min(80rch, 100%);
		margin-bottom: var(--large-gap);
		overflow-x: clip;

		/* content */

		section#content {

			a {

				&,
				&:visited {
					color: var(--color-link-body);
				}

				&:hover {
					color: var(--color-link-hover-body);
				}
			}

			img {
				border-radius: var(--border-radius-tight);
			}

			mark,
			code {
				padding: 0.1cap 0.5ch;
				border-radius: 0.2cap;
				box-decoration-break: clone;
			}

			mark {
				background: var(--color-highlight-body);
			}

			pre,
			:not(pre)>code {
				border: 1px solid var(--color-border-pre);
				border-radius: var(--border-radius-tight);
			}


			pre,
			code,
			code.hljs {
				background: var(--color-background-pre) !important;
			}

			blockquote {
				border-left: 0.5ch solid var(--color-border-body);
			}

			th,
			td {
				border-bottom: 1px solid var(--color-border-body);
			}

			hr {
				border-top: 1px solid var(--color-border-body);
			}

			/* page list */

			&>ul._ {
				display: flex;
				flex-direction: column;
				list-style: none;
				padding: 0;
			}

			article {
				color: var(--color-text-panel);
				border: 1px solid var(--color-border-panel);
				background: var(--color-background-panel);
				transition-property: border-color, box-shadow, color;
				transition-duration: 0.2s;
				border-radius: var(--border-radius-loose);

				a &:hover {
					border-color: var(--color-border-hover-panel);
					/* transform: translateY(-1px); */
					box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.01), 0px 2px 5px rgba(0, 0, 0, 0.02);
					color: var(--color-text-hover-panel);
				}

				img {
					order: -1;
				}
			}


			/* alerts */

			aside.alert {
				&.danger {
					--icon: '⛔️';
					background: var(--color-background-danger);
					color: var(--color-text-danger);
					border-color: var(--color-border-danger);

					h2 {
						color: var(--color-heading-danger);
					}
				}

				&.note {
					--icon: 'ℹ️';
					background: var(--color-background-note);
					color: var(--color-text-note);
					border-color: var(--color-border-note);

					h2 {
						color: var(--color-heading-note);
					}
				}

				&.success {
					--icon: '💡';
					background: var(--color-background-success);
					color: var(--color-text-success);
					border-color: var(--color-border-success);

					h2 {
						color: var(--color-heading-success);
					}
				}

				&.warning {
					--icon: '⚠️';
					background: var(--color-background-warning);
					color: var(--color-text-warning);
					border-color: var(--color-border-warning);

					h2 {
						color: var(--color-heading-warning);
					}
				}

				border-left-width: 0.5ch;
				border-left-style: solid;

				h2 {
					color: var(--heading);

					&:before {
						font-size: 0.8em;
						margin-right: 0.7rem;
						opacity: 0.9;
						content: var(--icon);
					}
				}
			}
		}

		dl {
			display: none;
		}

		section#backlinks {
			display: none;
		}
	}
}

/* footer */

footer {

	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2lh;

	nav ul {
		list-style: none;
		padding: 0;
		display: flex;
		gap: 1ch;

		img {
			height: 1em;
			width: auto;
		}
	}

	section {
		display: block;
	}

	a {

		&,
		&:visited {

			color: var(--color-link-body);
		}

		&:hover {
			color: var(--color-link-hover-menu);
		}
	}

}

/* homepage */

body.home {

	/*
		The homepage's tagline is the hero
	*/
	#tagline {
		font-size: 4em;
		font-weight: bold;
		padding-block: 0.5lh;


	}

	/*
		Hide breadcrumbs
	*/
	[aria-label=Breadcrumbs],
	[aria-label=Contents],
	&>aside>nav,
	&>main>h1 {
		display: none;
	}

}